*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul{
    transform: skew(1deg);
    position: relative;
}

ul li{
    position: relative;
    list-style:none;
    background: rgb(3, 23, 65);
    padding: 15px;
    width: 200px;
    z-index: var(--i);
}

ul li a{
    text-decoration: none;
    color: white;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: 0.5s;
}

ul li:hover a{
    color: gray;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100px;
    background: rgb(0, 13, 43);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li::after{
    content: '';
    position: absolute;
    top: -40deg;
    left: 0;
    width: 100%;
    height: 40px;
    background: green;
    transform: skewX(9deg);
    transition: 0.5s;
}